<% content_for :copy do %>
  <p>Something so awesome, you literally can't even. Introducing...</p>
  <br/>
  <p>ArtTron5000.</p>
<% end %>
<% content_for :img do %>
  <img src="img/brush.JPG" height="200px" width="350px"></img>
  <p>CC-BY Chenspec</p>
<% end %>
