<!DOCTYPE HTML>
<html>
  <head>
    <title>TC 359 Project 2 | Jerold Lewis</title>
    <link rel="stylesheet" href="css/bootstrap.css">
    <link rel="stylesheet" href="css/style.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.2/jquery.min.js"></script>
    <script src="js/bootstrap.js"></script>
    <meta name="viewport" content="width=device-width, initial-scale=1">
  </head>
  <body>
    <div class="container">
      <div class="row" id="titleRow">
        <div class="col-md-12" id="titleCol">
          <h1>TC 359 Project 2</h1>
        </div>
      </div>
      <div class="row" id="contentDiv">
        <div class="col-md-6" id="textDiv">
          <p>It's big, it's blue, it's...</p>
          <br/>
          <p><strong>BlewJeens</strong></p>
        </div>
        <div class="col-md-6" id="imgDiv">
          <div class="imgWrapper">
            <img src="img/jean.png" height="400px" width="200px"></img>
          </div>
        </div>
      </div>
    </div>
  </body>
</html>
