<% content_for :copy do %>
  <p>Unbelievable.    Unprecedented.    Unfathomable.</p>
  <br/>
  <p>iSlate.</p>
<% end %>
<% content_for :img do %>
  <img src="img/tab.png" height="400px" width="400px"></img>
<% end %>
